*.pyc
*.csv
model/datasets/eye-tracking/data/
*.png
*.jpg
*.txt
*.m4v
model/datasets/eye-tracking/rois/__MACOSX/
model/datasets/eye-tracking/stimuli/__MACOSX/
# Don't ignore requirements file
!requirements.txt